/* ALLMÄN CSS */

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #C00000;
    padding: 0px;
}

h2{
    text-align: center;
    font-family: Palatino Linotype, italic;
    font-size: 30px;
    color: black;
    padding: 0px;
}

/* Det som följer tillhör vårt sidhuvud */

#sidhuvud {
    margin: auto;
}

#header {
    background-color: #E8E8E8;
    height: 180px;
    border-bottom: #C00000 solid;
    padding-top: 5px;
    padding-bottom: 10px; 
    margin: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Det som följer tillhör menyn som tillhör sidhuvudet. */
.huvudMeny{
    border: 2px solid #C00000;
    background-color:  #E8E8E8;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#listaMeny {
    display: inline;
    width: 60px;
    background-color: #E8E8E8;
    padding: 8px;
    width: 125px;
}

#listaMeny:hover{
    background-color: whitesmoke;
    color: white;
    }


/* What is this?   */ 
.nuvarande{
    background-color: blue;
    color: #E8E8E8;
}


/* Den här är grunden för alla formulär vi gjort. Vi kanske ska döpa om så varje formulär får ett eget namn. */
.formular {
	text-align: center;
}


/* VILKEN FIL TILLHÖR DE? */







#rubrik {
    margin-top: 20px;
    text-align: center;
}

#filter{
    margin-left: 150px;
}

#filterlista{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#aktiviteter{
    float: left;
    background-color: #E8E8E8;
    border-bottom: solid #C00000;
    width: 170px;
}

#attributAkt{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    margin-left: 14px;
    margin-right: 16px;
}

#attributAkt:hover{
    background-color: #555
}



.nationsMeny{
    width: 150px;
    color: #E8E8E8;
}

#nationsattr{
    background-color: #E8E8E8;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: solid #C00000;
    height: 40px;
    
}

#nationsattr:hover{
    background-color: #555;
}


.boxes {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}


#sidfot {
    text-align: center;
    margin-top: 40px;
}


#persUppgifter{
    text-align: center;
}


/* ANMALAVEV.HTML */

.divAnmalan {
    border: 4px solid #C00000;
    border-radius: 10%;
    height: 95%;
    margin: 3% 30% 3% 30%;
}

.formTop {
    float: left;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.formLeft {
    float: left;
    width: 30%;
    margin-left: 20%;
}

.formRight {
    float: left;
    width: 35%;
    margin-right: 15%;
}

.formBottom {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

#Allergi {
    resize: none;
    height: 90px; 
    width: 320px;

}

#anmalanSkicka {
    margin: 20px;
}


