h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #C00000;
    padding: 0px;
}

h2{
    text-align: center;
    font-family: Palatino Linotype, italic;
    font-size: 20px;
    color: #C00000;
    padding: 0px;
}
.formular {
	text-align: center;
}

#sidhuvud {
    margin: auto;
}

#header {
    background-color: #E8E8E8;
    height: 120px;
    border-bottom: #C00000 solid;
    padding-top: 5px;
    padding-bottom: 10px; 
    margin: auto;
}

#rubrik {
    margin-top: 20px;
    text-align: center;
}

#filter{
    margin-left: 150px;
}

#filterlista{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#aktiviteter{
    float: left;
    background-color: #E8E8E8;
    border-bottom: solid #C00000;
    width: 170px;
}

#attributAkt{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    margin-left: 14px;
    margin-right: 16px;
}

li a:hover{
    background-color: #555
}



.nationsMeny{
    width: 150px;
    color: #E8E8E8;
}

#nationsattr{
    background-color: #E8E8E8;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: solid #C00000;
    height: 40px;
    
}

#nationsattr:hover{
    background-color: #555;
}




.boxes {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}


#sidfot {
    text-align: center;
    margin-top: 40px;
}
.Meny{
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}
#lista {
    display: inline;
    width: 60px;
    background-color: #E8E8E8;
    padding: 8px;
}
.nuvarande{
    background-color: blue;
    color: #E8E8E8;
}
#lista:hover{
background-color: #555;
    color: white;
}


