/* ALLMÄN CSS */

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #C00000;
    padding: 0px;
}

h2{
    text-align: center;
    font-family: Palatino Linotype, italic;
    font-size: 30px;
    color: black;
    padding: 0px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

/* Det som följer tillhör vårt sidhuvud */
#sidhuvud {
    margin: auto;
}

#header {
    background-color: #E8E8E8;
    height: 200px;
    border-bottom: #C00000 solid;
    padding-top: 5px;
    padding-bottom: 10px; 
    margin: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Det som följer tillhör menyn som tillhör sidhuvudet. */
.huvudMeny{
    border: 2px solid #C00000;
    background-color:  #E8E8E8;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#listaMeny {
    display: inline;
    width: 60px;
    background-color: #E8E8E8;
    padding: 8px;
    width: 125px;
	color: #C00000
}

#listaMeny:hover{
    background-color: whitesmoke;
    color: white;
}

#sidlankar {
	color: #010101
	
}	

/* Det här är vår sidfot. */
#sidfot {
    text-align: center;
    margin-top: 40px;
}

/* Den här är grunden för alla formulär vi gjort. Vi kanske ska döpa om så varje formulär får ett eget namn. */
.formular {
	text-align: center;
}

/* Det här är grunden för alla boxar, vet inte om det ska vara så. */
.boxes {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}




/*----------------------------------------------------------------------------*/
/* ANMALANEV.HTML */

.divAnmalan {
    border: 2px solid #C00000;
    border-radius: 10%;
    height: 95%;
    margin: 3% 30% 3% 30%;
}

.formTop {
    float: left;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.formLeft {
    float: left;
    width: 30%;
    margin-left: 20%;
}

.formRight {
    float: left;
    width: 35%;
    margin-right: 15%;
}

.formBottom {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

#Allergi {
    resize: none;
    height: 90px; 
    width: 320px;
}

#anmalanSkicka {
    margin: 20px;
}

/*---------------------------------------------------------------------------------*/
/* MINASIDORSTUDENT.HTML*/

#persuppgMSS {
    border: 2px solid #C00000;
	border-radius: 20px;
    float: left;
    width: 40%;
    margin-left: 7%;
    margin-top: 2%;
}

#anmaldaEvMSS {
    border: 2px solid #C00000;
	border-radius: 20px;
    float: right;
    width: 40%;
    margin-right: 7%;
    margin-top: 2%;
}

#sparadeEvMSS {
    border: 2px solid #C00000;
	border-radius: 20px;
    float: right;
    width: 40%;
    margin-right: 7%;
    margin-top: 2%;
}


/*---------------------------------------------------------------------------------*/

/* inloggning.php */

#inloggning {
	border: 2px solid #C00000;
	border-radius: 20px;
	margin-right: 25%;
	margin-left: 25%;
}
#personnummer {
	width: 300px;
	height: 25px;
}
#pw {
	width: 300px;
	height: 25px;
}
.rubrikInloggning {
	text-align: center;
}

#huvudRubrikInloggning {
	text-align: center;
}
#logInBtn {
	width: 80px;
	height: 30px;
}


/*---------------------------------------------------------------------------------*/
/* OMOSS.HTML*/

#divOmOss {
    border: 2px solid #C00000;
}

#rubrikOmOss {
    text-align: center;
}

#innehallOmOss {
    text-align: center;
    font-size: 18px;
    margin-left: 20%;
    width: 60%;
}

.h5OmOss {
    font-size: 1em;
}

#OBS {
    font-style: italic;

}

/*---------------------------------------------------------------------------------*/
/* STARTSIDASTUDENT.HTML*/

#filter{
    margin-left: 150px;
}

#filterlista{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#aktiviteter{
    float: left;
    background-color: #E8E8E8;
    border-bottom: solid #C00000;
    width: 170px;
}

#attributAkt{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    margin-left: 14px;
    margin-right: 16px;
}

#attributAkt:hover{
    background-color: #555
}

.nationsMeny{
    width: 150px;
    color: #E8E8E8;
}

#nationsattr{
    background-color: #E8E8E8;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: solid #C00000;
    height: 40px;
    
}

#nationsattr:hover{
    background-color: #555;
}

/*----------------------------------------------------------------*/
/* SkapaEv.php */

#rubrikSkapaEv {
	text-align: center;
}
.helaEvenemang {
	border: 2px solid #C00000;
	border-radius: 20px;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 5%;
}
