/* ALLMÄN CSS */

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    color: #C00000;
}

h2{
    text-align: center;
    font-family: Palatino Linotype, italic;
    font-size: 1.5em;
    color: black;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

/* Det som följer tillhör vårt sidhuvud */

/* Vårt sidhuvud */
#header {
    background-color: #E8E8E8;
    height: 200px;
    border-bottom: #C00000 solid;
    padding-bottom: 0.7%; 
    margin: auto;
}

/* Styling för vår logga i sidhuvudet */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Vår sidfot. */
#sidfot {
    text-align: center;
    margin-top: 3%;
}

/* Så att sidfoten ska ligga snyggt */
.sidfotPlats{
    width: 100%;
    float: right;
}

/* Ska göra alla sessionsfelmeddelanden röda */
.errorMessage {
    color: red;
}

.boxes {
    padding: 1%;
    margin: 2%;
    font-size: 1.1em;
}

/* -----------------------------------------------------*/
/* css för de olika menyerna vid sidhuvudet.*/

/* Menyn för student */
.huvudMeny{
    border: 0.1em solid #C00000;
    background-color:  #E8E8E8;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

/* Huvudmenyn för alla nationssidor */
#listaMeny {
    display: inline;
    background-color: #E8E8E8;
    text-align: center;
    padding-right: 2%;
}

/* Ser till att man ser vilken knapp man är över i menyn */
#listaMeny:hover{
    background-color: whitesmoke;
    color: white;
}

/* Länkarna i alla menyer*/
#sidlankar {
	color: #010101;
}	
-
/*----------------------------------------------------------------------------*/
/* ANMALANEV.HTML */ 

/* Yttre div */
.divAnmalan {
    border: 0.25em solid #C00000;
    border-radius: 10%;
    height: 75%;
    margin: 3% 30%;
}

/* I den här diven ligger boxarna namn, kön och sällskap */
.formTop {
    float: left;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

/* I den här diven ligger boxen matpreferenser */
.formLeft {
    float: left;
    width: 30%;
    margin-left: 20%;
}

/* I den här diven ligger boxen måltidsdryck */
.formRight {
    float: left;
    width: 35%;
    margin-right: 15%;
}

/* I den här diven ligger Alelrgier och skickaknappen */
.formBottom {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

/* Skickaknapp */
#anmalanSkicka {
    margin-top: 5%;
    width: 120%;
    height: 0.8em;
    margin-left: 35%
}

/*---------------------------------------------------------------------------------*/
/* MINASIDORSTUDENT.HTML*/

/* Diven som displayar den inloggade studentens personuppgifter */
#persuppgMSS {
    border: 0.25em solid #C00000;
	border-radius: 2em;
    float: left;
    width: 35%;
    margin-left: 7%;
    margin-top: 2%;
    padding-left: 5%;
    font-size: 1.1em;
}

/* Diven som displayar alla anmälda evenemang för studenten */
#anmaldaEvMSS {
    border: 0.25em solid #C00000;
	border-radius: 2em;
    float: right;
    width: 40%;
    margin-right: 7%;
    margin-top: 2%;
}

/* Diven som displayar alla sparade evenemang för studenten */
#sparadeEvMSS {
    border: 0.25em solid #C00000;
	border-radius: 2em;
    float: right;
    width: 40%;
    margin-right: 7%;
    margin-top: 2%;
}
/*Gör så att footern ligger där den ska*/
#mssFooter{
    width: 100%;
    float:right;
}

/*------------------------------------------------------------*/
/* index.php */

/* Utseendet för länkarna till inloggning för nation och student */
.student-nation {
    border: 0.2em solid #C00000;
    width: 17%;
    text-align: center;
    padding: 2%;
    border-radius: 2em;
    font-size: 1.3em;   
    margin-bottom: 5%; 
    margin-top: 5%;
    font-weight: bold;
}

/* Knappen för att logga in som nation */
#nationsKnapp {
    float: left;
    margin-left: 23%;
    margin-right: 5%;
}

/* Knapp för att logga in som student */
#studentKnapp {
    float: right;
    margin-right: 23%;
    margin-left: 5%;
}

/* Länken för att logga in som admin */
#loginAdm {
    text-align: center;
    width: 10%;
    margin-left: 85%;
    font-size: 1em;
}

/*---------------------------------------------------------------------------------*/
/* inloggning.php */

/* Formuläret för inloggning */
#inloggning {
	border: 0.25em solid #C00000;
	border-radius: 2em;
	width: 50%;
    margin-left: 25%;
    text-align: center;
}

/* "Välkommen till DestinatioNation" */
#huvudRubrikInloggning {
	text-align: center;
}

/* Knapp för att logga in */
#logInBtn {
	width: 15%;
    height: 30%;
    padding: 1%;
}

/*---------------------------------------------------------------------------------*/
/* OMOSS.HTML*/

/* Meddelandediven*/
#display
{
    margin-top: 2%;
    border: 0.2em solid #C00000;
    border-radius: 2em;
    width: 40%;
    margin-left: 25%;
    height: 13em;
    overflow: auto;
    padding: 1% 4%;
}

/* Allra yttersta diven */
#divOmOss {
    border: 0.10em solid #C00000;
}

/* Rubrik "Om oss" */
#rubrikOmOss {
    text-align: center;
}

/* Diven som handlar om tjänsten */
#innehallOmOss {
    text-align: center;
    font-size: 1.1em;
    margin-left: 20%;
    margin-top: 3%;
    width: 60%;
}

/* Mindre rubriker */
.h5OmOss {
    font-size: 1em;
}

/* Viktigt meddelande längst ner */
#OBS {
    font-style: italic;
}

/*---------------------------------------------------------------------------------*/
/* STARTSIDA.HTML (gäller alla tre sidorna)*/

/* Diven som aktivitetsmenyn ligger i*/
#filter{
    margin-left: 17.2%;
    padding: 1%;
    border-bottom: 0.1em solid #C00000;
}

/* För att få hela bakgrunden i aktivitetsmenyn grå (även vänstra hörnet) */
.back{
    background-color: #E8E8E8;
}

/* Aktivitetsmenyn*/
#aktiviteter{
    display: inline;
    margin-left: 1%;
}

/* Knapparna i aktivitetsmenyn*/
.knappAktmeny{
    padding: 0.5% 1%;
}

/* nationsmenyn */
.nationsattr{
    width: 16%;
    background-color: #E8E8E8;
    padding: 0.5em;
    border-bottom: 0.1em solid #C00000;
    border-right: 0.1em solid #C00000;
}

/* Knapparna i nationsmenyn */
.knappNationsmeny {
    width: 95%;
    padding: 2%;
}

/* Diven som evenemangsflödet ligger i */
.eventFlode{
    margin-top: 2%; 
    margin-right: 2%;
    border: 0.2em solid #C00000;
    border-radius: 2em;
    width: 75%;
    float: right;
    height: 35em;
    overflow: auto;
}

/* De små rutorna för varje enskilt evenemang*/
.evenemang {
    border: 0.1em solid #C00000;
    border-radius: 2em;
    width: 60%;
    margin: 2% 20%;
    padding-left: 2%;
    padding-bottom: 1%;
}

/* Gör att kunn göra titeln på varje evenemang större */
.titelEv {
    font-size: 1.3em;
}


/*--------------------------------------------------------------*/
/* SkapaEv.php */

.helaEvenemang {
	border: 2px solid #C00000;
	border-radius: 2em;
	margin: 2% 25%;
    text-align: center;
    padding-bottom: 3%;
}

/*-----------------------------------------------------------------*/
/*registrering.php*/

/* Diven som formuläret ligger i */
#registrationForm{
    text-align: center;
    margin: 5%;
}

/* Varje box i formuläret */
.regFält{
    width: 30%;
    height: 250%;
    padding: 1%;
}

/* Registreraknappen */
#submit{
    width: 25%;
    height: 250%;
    padding: 1.5%;
}

/*-----------------------------------------------------------------*/
/*minaSidorNation.php*/

/* Rader där namnet på nationen kommer upp */
#sessionMessageNation {
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
}

/* Yttre diven där alla evenemang ligger */
#minasidorNflode{
    border: solid #C00000;
    border-radius: 2em;
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    height: 35em;
    overflow: auto;
    margin-bottom: 2%;
}

/* Div för varje enskilt evenemang */
#evenemangNation {
    border: 0.1em solid #C00000;
    border-radius: 2em;
    width: 70%;
    margin: 2% 15%;
    padding-left: 2%;
    padding-bottom: 1%;
}

/* Knappen för att skapa evenemang */
#evenemangsKnapp {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 1%;
    width: 20%;
    margin-left: 40%;
    font-size: 1.2em;
    text-align: center;
    margin-top: 3%;
}

/*------------------------------------------------------*/
/* publiceraTjanst.php */

.helaPublicera {
    border: 2px solid #C00000;
    border-radius: 20px;
    margin: 2% 25%;
    text-align: center;
    padding: 2%;
}

/* Varje box i formuläret */
.regFält{
    width: 30%;
    height: 250%;
    padding: 1%;
}

.regArea {
    width: 60%;
    height: 8em;
    resize: none;
}

/*-------------------------------------------------------*/
/* hanteraEvenemang.php*/

#raderaEvenemangNation{
	border: 2px solid #C00000;
    border-radius: 20px;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    text-align: center;
}

.formHant {
    
}

#raderaEvNat{
	margin-top: 15px;
	margin-bottom: 15px;
}
#helaRedigeraEvenemang{
	border: 2px solid #C00000;
    border-radius: 20px;
	width: 40%;
    margin-right: 5%;
    margin-top: 5%;
    float: right;
    text-align: center;
}

#footern{
    width: 100%;
    float:right;
}

/*-------------------------------------------------------*/
/* raderaMed.php */

/* Utformingen på varje rad */ 
.formularMed {
    text-align: center;
    font-size: 1.1em;
}

/* Varje box för input */
.radFält {
    width: 20%;
    padding: 0.5%;
}

/*-------------------------------------------------------*/
/* raderaEv.php */

/* Div för att radera evenemang */
.raderaEv {
    text-align: center;
    width: 35%;
    margin-left: 8%;
    margin-top: 2%;
    padding-bottom: 2%;
    float: left;
    border: 0.2em solid #C00000;
    border-radius: 2em;
}

/* Inputbox i radera evenemang */
.radFält {
    width: 40%;
    padding: 0.5%;
}

/* Knappar för att skicka formulären */
#logBtn {
    padding: 1%;
}

/* Div för redigera evenemang */
.redigeraEv {
    float: right;
    border: 0.2em solid #C00000;
    border-radius: 2em;
    padding: 2%;
    text-align: center;
    width: 35%;
    margin-right: 8%;
    margin-top: 2%;
}

